In [1]:
import pandas as pd

In [9]:
df = pd.read_csv(
    "./blockchair_bitcoin_addresses_and_balance_LATEST.tsv",
    delimiter="\t",
    nrows=3000000,
)
df

                                                   address         balance
0                       34xp4vRoCGJym3xR7yCVPFHoCNxv4Twseo  24859738634319
1        bc1qgdjqv0av3q56jvd82tkdjpy7gdp9ut8tlqmgrpmv24...  17801008822946
2                       38Xnrq8MZiKmYmwobbYdZQ5nnCbX1qvQfE  11735105646584
3               bc1ql49ydapnjafl5t2cp9zqpjwe6pdgmxy98859v2   9650019922151
4               bc1qazcm763858nkj2dj986etajv6wquslv8uxwczt   9464330614020
...                                                    ...             ...
2999995                 3HRfkWPsb6FwMjBVLzCbuR5UduSnV41tTu        19082622
2999996         bc1qc553suvzh55nuchfzz8n6sh5akmz2wkezek46v        19082618
2999997         bc1q4ccd0355nfnc4ftytmffw66lken9gktkgqhux5        19082600
2999998                 36g527hBJ236famMpJkLBUW53Krf4iEgUC        19082554
2999999         bc1qx7j3wcn7zz5czeqpjfxggjwlj04wg9f6txyrv4        19082538

[3000000 rows x 2 columns]

In [10]:
df.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000000 entries, 0 to 2999999
Data columns (total 2 columns):
 #   Column   Dtype
---  ------   -----
 0   address  object
 1   balance  int64
dtypes: int64(1), object(1)
memory usage: 294.6 MB

In [13]:
open("addresses.txt", "w").write(df["address"].to_string())

182999999

In [14]:
df["address"].to_csv("addresses.txt", header=False, index=False)